@font-face {
    font-family: AvenirNext;
    src: url('/common/AvenirNextCyr/AvenirNextCyr-Regular.ttf');
}

@font-face {
    font-family: AvenirNext-Regular;
    src: url('/common/AvenirNextCyr/AvenirNextCyr-Regular.ttf');
}

@font-face {
    font-family: AvenirNext-Bold;
    src: url('/common/AvenirNextCyr/AvenirNextCyr-Bold.ttf');
}

@font-face {
    font-family: AvenirNext-DemiBold;
    src: url('/common/AvenirNextCyr/AvenirNextCyr-Demi.ttf');
}

@font-face {
    font-family: AvenirNext-DemiBold;
    src: url('/common/AvenirNextCyr/AvenirNextCyr-Demi.ttf');
}
