@font-face {
	font-family: AvenirNext;
	src: url('/common/AvenirNextCyr/AvenirNextCyr-Regular.ttf');
}

@font-face {
	font-family: AvenirNext-Regular;
	src: url('/common/AvenirNextCyr/AvenirNextCyr-Regular.ttf');
}

@font-face {
	font-family: AvenirNext-Bold;
	src: url('/common/AvenirNextCyr/AvenirNextCyr-Bold.ttf');
}

@font-face {
	font-family: AvenirNext-DemiBold;
	src: url('/common/AvenirNextCyr/AvenirNextCyr-Demi.ttf');
}

@font-face {
	font-family: AvenirNext-DemiBold;
	src: url('/common/AvenirNextCyr/AvenirNextCyr-Demi.ttf');
}



.at-nav{
	width: 15%;
}

.accent-coloor{
	color: #efa426;
}

html, body{
	height: 100%;
	color: white;
    /*font-family: AvenirNext-Regular;*/
	font-family: AvenirNext-Regular;
}
.at-circle{
	width: 161px;
	height: 157px;
	border: solid 4px #efa426;
	border-radius: 50%;
	color: #f5a623;
	margin: auto
}
.at-wedo{
	padding: 20px;
	text-align: center
}

.at-bg-R{
	background-color: #efa426;
	left: 3px;
	position: absolute;
	right: 2px;
	top: 15px;
	bottom: 20px;
	/* 			    z-index: -1; */
}